.DS_Store

__pycache__/
*.py[cod]

/build/
/dist/
/venv/
/.venv/
/docs/_build/
/docs/build/
/result_images/

.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
*.egg-info/
*.egg

GPATH
GRTAGS
GTAGS

.coverage
lcov.info
coverage.xml

.vscode/

notebooks/*.xsf
notebooks/*.lmp
notebooks/*.cif
notebooks/*.qe
notebooks/*.xyz

examples/*.xsf
examples/*.lmp
examples/*.cif
examples/*.qe
examples/*.xyz
