.DS_Store

__pycache__/
*.py[cod]

/build/
/dist/
/venv/
/.venv/
/docs/_build/

.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
*.egg-info/
*.egg

GPATH
GRTAGS
GTAGS

.coverage
lcov.info
coverage.xml

.vscode/
