*            text=auto

# keep code as lf
*.py         text eol=lf
*.sh         text eol=lf
*.bat        text eol=crlf

# keep most data files as crlf
*.mslice     text eol=lf
*.txt        text eol=crlf
*.cif        text eol=crlf
*.xsf        text eol=crlf
*.xyz        text eol=crlf
setup.cfg    text eol=lf
*.cfg        text eol=crlf

*.png       -text
*.pdf       -text
